/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", sans-serif; */

*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* Shared Styles */
.btn-primary{
    padding: 18px 35px;
    border-radius: 5px;
    background: #fd6e0a;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.orange{
    color: rgb(253, 110, 10);
}
/* Header Section Start Here */
.header-section{
    background: #fff8f3;
    background-image: url(/images/developer.png), url(/images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
.header-section nav{
    display: flex;
    justify-content: space-between;
    margin: 0 265px;
    padding-top: 50px;
    align-items: center;
}
.header-section nav .logo .logo-text{
    font-size: 45px;
    font-weight: 800;
}
.header-section nav ul{
    display: flex;
    align-items: center;
}
.header-section nav ul li{
    list-style: none;
    margin-right: 50px;
}
.header-section nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}

/* Header Container Start */

.header-content{
    display: flex;
    margin: 0 265px;
    justify-content: space-between;
}

/* Header Container Text Start */
.header-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 660px;
}
.header-content-text h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.header-content-text h1{
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
}
.header-content-text p{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}
.button-container{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}


/* Header Container Text End */

/* Header Content Image Start */

.header-content-img .img-container{
    margin-top: 50px;
    margin-bottom: -6px;
}

/* Header Content Image End */

/* Header Container End */

/* Header Section End Here */

/* About Section Start Here */

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 837px;
}
.about-section{
    width: 1140px;
    height: 550px;
    border-radius: 10px;
    background: #fff8f3;
}
.about-content{
    width: 827px;
    height: 288px;
    margin: 130px 155px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-content h3{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
.about-content .about-desc{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}
.about-contact-container{
    display: flex;
    gap: 50px;
}
.single-contact p{
    font-size: 20px;
    color:#757575;
    text-align: center;
}
.single-contact h4{
    text-align: center;
}

/* About Section End Here */

/* What I Do Section Start Here */

.what-i-do-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 837px;
}
.what-i-do-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1140px;
}
.what-i-do-content h2{
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
.what-i-do-content .what-i-do-desc{
    width: 827px;
    text-align: center;
    color: #757575;
    margin-bottom: 50px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill-container .single-skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.089);
}
.skill-container .single-skill img{
    width: 44px;
    margin-bottom: 30px;
}
.skill-container .single-skill h4{
    color: rgb(24, 24, 24);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.skill-container .single-skill p{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* What I Do Section End Here */